Microsoft.Flow/flows/87833441-23f1-4eed-9129-1162deb86418/definition.json
{"name":"6d5049f8-ce76-4b38-be3f-092d25d9df7e","id":"/providers/Microsoft.Flow/flows/6d5049f8-ce76-4b38-be3f-092d25d9df7e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Trello export MC","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"fd4b32d6-03e3-4f68-819f-c1d27d6ce270","type":"User","tenantId":"775dfa9e-d159-4975-945b-78bc77767c07"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-07-30T16:16:27.6102292Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"016ZR6KFMQRQQ5KQKAFJD32AVPFAM5N32O":"/Trello export/mc.xlsx","tableId":"{706912EE-922B-46D2-9E5B-AECE362CC210}","016ZR6KFPIPIXIF57TVRCIS42YGWNTDMY3":"/Trello export/mc.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"sites/cabratosa.sharepoint.com,8f58e565-871a-4216-bf51-4c1aac4479bc,99ff3b0e-3fcd-4b07-8bf9-95a440db6e65","drive":"b!ZeVYjxqHFkK_UUwarER5vA47_5nNPwdLi_mVpEDbbmW4YuwYtq2ERo-RWPGpZIJ4","file":"016ZR6KFPIPIXIF57TVRCIS42YGWNTDMY3","table":"{706912EE-922B-46D2-9E5B-AECE362CC210}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate1","type":"string"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate2","type":"string"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate3","type":"string"}]}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"varDate1","value":"@items('Apply_to_each')?['Attachments']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varDate2","value":"@items('Apply_to_each')?['Created']"}},"Set_variable_3":{"runAfter":{"Set_variable_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varDate3","value":"@items('Apply_to_each')?['CreatedBy']"}},"Create_new_folder":{"runAfter":{"Set_variable_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"https://cabratosa.sharepoint.com/sites/Pressupost","table":"18ec62b8-adb6-4684-8f91-58f1a9648278","parameters/path":"Trello export/Test9/@{variables('varDate6')}_@{variables('varDate7')}","view":"1835516e-67b4-417f-949d-11584aa20188"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties":{"runAfter":{"Create_new_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://cabratosa.sharepoint.com/sites/Pressupost","table":"18ec62b8-adb6-4684-8f91-58f1a9648278","id":"@outputs('Create_new_folder')?['body/ID']","item/OData__ExtendedDescription":"Creat per: @{variables('varDate3')}, Data: @{variables('varDate2')}","item/OData__Status/Value":"2 Enviat","item/Priority/Value":"Normal","item/Link":"@variables('varDate5')","item/TaxKeyword":[{"Value":"Pressupost|8955ba3d-2855-4727-90a8-e755fc8adbee"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_4":{"runAfter":{"Set_variable_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varDate4","value":"@items('Apply_to_each')?['Description']"}},"Set_variable_5":{"runAfter":{"Set_variable_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varDate5","value":"@items('Apply_to_each')?['Link']"}},"Set_variable_6":{"runAfter":{"Set_variable_5":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varDate6","value":"@items('Apply_to_each')?['Title']"}},"Create_file":{"runAfter":{"Get_file_properties":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://cabratosa.sharepoint.com/sites/Pressupost","folderPath":"/Shared Documents/Trello export/Test9/@{variables('varDate6')}_@{variables('varDate7')}","name":"@{variables('varDate6')}.txt","body":"@variables('varDate4')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_2":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://cabratosa.sharepoint.com/sites/Pressupost","table":"18ec62b8-adb6-4684-8f91-58f1a9648278","id":"@outputs('Create_file')?['body/ItemId']","item/OData__ExtendedDescription":"@variables('varDate1')","item/OData__Status/Value":"2 Enviat","item/Priority/Value":"Normal","item/TaxKeyword":[{"Value":"Pressupost|8955ba3d-2855-4727-90a8-e755fc8adbee"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties":{"runAfter":{"Update_file_properties":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://cabratosa.sharepoint.com/sites/Pressupost","table":"18ec62b8-adb6-4684-8f91-58f1a9648278","id":"@outputs('Update_file_properties')?['body/ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_7":{"runAfter":{"Set_variable_6":["Succeeded"]},"type":"SetVariable","inputs":{"name":"varDate7","value":"@items('Apply_to_each')?['Number']"}}},"runAfter":{"Initialize_variable_7":["Succeeded"]},"type":"Foreach"},"Initialize_variable_4":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate4","type":"string"}]}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate5","type":"string"}]}},"Initialize_variable_6":{"runAfter":{"Initialize_variable_5":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate6","type":"string"}]}},"Initialize_variable_7":{"runAfter":{"Initialize_variable_6":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varDate7","type":"string"}]}}}},"connectionReferences":{"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-0a5e778e-faa8-42d9-95fe-2a7c-b8d52e79","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"9e11a6a88c5242939d49c32bfcbc6a5f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}